n8n_workflows/01_ocr_workflow.json
{
  "name": "ZumArzt — 01 OCR Überweisung",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zumarzt-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ocr",
      "name": "Webhook Eingang",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "key", "value": "={{ $env.GOOGLE_VISION_API_KEY }}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"content\": \"{{ $json.body.imageBase64 }}\"\n      },\n      \"features\": [\n        { \"type\": \"TEXT_DETECTION\", \"maxResults\": 1 }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "google-vision",
      "name": "Google Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.responses?.[0]?.fullTextAnnotation?.text || '';\n\nconst FACHRICHTUNGEN = [\n  'Orthopädie', 'Dermatologie', 'Neurologie', 'Kardiologie',\n  'Psychiatrie', 'Urologie', 'HNO', 'Augenheilkunde',\n  'Gynäkologie', 'Innere Medizin', 'Chirurgie', 'Radiologie'\n];\n\nconst specialtyFound = FACHRICHTUNGEN.find(f =>\n  text.toLowerCase().includes(f.toLowerCase())\n) || '';\n\nconst dringend = /dring|urgent|sofort|D\\b/i.test(text);\n\nconst gkvMatch = text.match(/GKV|gesetzlich|Krankenkasse/i);\nconst pkvMatch = text.match(/PKV|privat/i);\nconst insurance = pkvMatch ? 'pkv' : gkvMatch ? 'gkv' : 'gkv';\n\nconst arztMatch = text.match(/Dr\\.?\\s+[A-Z][a-zäöüß]+(?:\\s+[A-Z][a-zäöüß]+)?/);\nconst issuerDoctor = arztMatch ? arztMatch[0] : '';\n\nreturn [{\n  json: {\n    success: true,\n    rawText: text,\n    specialty: specialtyFound,\n    urgent: dringend,\n    insurance,\n    issuerDoctor,\n    confidence: specialtyFound ? 0.9 : 0.3\n  }\n}];"
      },
      "id": "extract-data",
      "name": "Daten extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-ocr",
      "name": "Antwort senden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook Eingang": {
      "main": [[{ "node": "Google Vision OCR", "type": "main", "index": 0 }]]
    },
    "Google Vision OCR": {
      "main": [[{ "node": "Daten extrahieren", "type": "main", "index": 0 }]]
    },
    "Daten extrahieren": {
      "main": [[{ "node": "Antwort senden", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
